.footer .logos-col{
    display: flex;
    align-items: top;
    flex-direction: row;
    justify-content: normal;
    flex-wrap: wrap;
}
#bde_shopreview .shop:nth-of-type(2){
    display: none;
}
.footer .logos-col > *{
    margin: 0 30px 20px 0 !important;
}

.footer .footer-services .services-payment img{
    margin-right: 30px;
}