.footer .logos-col{
    display: flex;
    align-items: top;
    flex-direction: row;
    justify-content: normal;
    flex-wrap: wrap;
}
#bde_shopreview .shop:nth-child(2){
    display: none;
}
.footer .logos-col > *{
    margin: 0 0 20px 0 !important;
}