.footer .logos-col{
    display: flex;
    align-items: top;
    flex-direction: row;
    justify-content: normal;
    flex-wrap: wrap;
}
.footer .logos-col > *{
    margin: 0 40px 20px 0 !important;
}

@media screen and (max-width: 767px) {
    .footer .logos-col > *{
        margin: 0 20px 20px 0 !important;
    }
}